.switch {
  &-container {
  }

  &-list {
    display: flex;
    flex-direction: row;
    gap: 23px;
    padding: 0;
    margin: 0;
    text-align: center;
  }
}

@media (max-width: 550px) {
  .switch-list {
    flex-direction: column;
    gap: 10px;
  }
}
