/* ----------------------------- Primary colors ----------------------------- */
$primary-color-1: #fff;
$primary-color-2: #c4cbe3;
$primary-color-3: #4c5262;
$primary-color-4: #393c47;
$primary-color-5: #282c38;
$primary-color-6: #12151d;
$primary-color-7: #04031499;
$primary-color-8: #0403144d;

/* ---------------------------- Secondary colors ---------------------------- */
$secondary-color-1: #0d1b42;
$secondary-color-2: #262d41;
$secondary-color-3: #0e0c5e4d;
$secondary-color-4: #0f2766;
$secondary-color-5: #273d83;
$secondary-color-6: #254ecb80;
$secondary-color-7: #273c74;
$secondary-color-8: #2e56d2;
