@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
@import "./utils/variables";

:root {
  background-color: $primary-color-6;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  color: $primary-color-2;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

body {
  margin: 0;
}
